<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/res_app.css" %}/">
  </head>
  <body>
    <div class="container container-fluid">
      <nav class="navbar navbar-default nav-buffer">
        <!-- Add the header of the navbar (including branding) -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" name="button">
              <span class="sr-only">Toggle navigation</span>

            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
        <!-- Add links to the key sections of the site -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'res_app:register' %}">Register</a></li>
            <li><a href="{% url 'res_app:resource_list' %}">Resources</a></li>
            <li><a href="{% url 'res_app:new_res' %}">Add New</a></li>

          </ul>

        </div>
        <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
          <ul>
            {% if user.is_authenticated %}
              <li class=""><a href="{% url 'res_app:user_logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'res_app:user_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    {% block body_block %}
    {% endblock %}

  </body>
</html>
